*{
    margin: 0px;
}
.container{
    margin: 250px auto;
    width: 400px;
    padding: 10px;
    box-shadow: 0 0 10px #339ed0;
    background-image: radial-gradient(circle at 50% 11.17%, #e6f0f4 0, #c1deea 16.67%, #99cae1 33.33%, #6cb4d8 50%, #339ed0 66.67%, #0089ca 83.33%, #0075c3 100%);
}
h1{
    text-align: center;
    margin-bottom: 25px;
}
#login{
    text-align: center;
}
button{
    margin-top: 15px;
}
h3 {
  text-align: center;
}
